<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link rel="shortcut icon" href="{{@blog.logo}}" />

    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/fav.ico"}}">

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "/css/allofu.css"}}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/solarized_dark.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    {{{block "head"}}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
        <header id="header">
			{{#if @blog.logo}}<a id="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
			<h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
			<p>{{@blog.description}}</p>
			{{> follow}}
			{{> navigation}}
		</header>
		<main id="content">
    {{{body}}}

    <footer class="site-footer clearfix">
        <section id="footer-message">&copy; 2014-{{date format='YYYY'}} {{@blog.title}}. CC BY-NC-SA 4.0. Powered by <a href="http://ghost.org" target="_blank">Ghost</a>. Based on <a href="https://github.com/kathyqian/crisp-ghost-theme" target="_blank">Crisp</a> theme by <a href="http://kathyqian.com" target="_blank">Kathy Qian</a>. Get this <a href="https://github.com/alim0x/allofu-ghost-theme" target="_blank">theme</a>.</section>
    </footer>

    {{ghost_foot}}

    <!-- javascript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

<!-- replace with your GoogleAnalytics
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55399521-1', 'auto');
  ga('send', 'pageview');

    </script>
-->
    <!-- javascript end -->

</body>
</html>
